*{
  margin: 0;
  padding: 0
}

#root{
  width: 1200px;
  padding: 40px;
  margin: 20px auto;
  box-sizing: border-box;
}
.router-wrap{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid pink;
}
.router-select{
  color: #fff;
  font-weight: bold;
  background-color: pink;
}
