* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hello{
  color: pink;
}
.red,.yellow,.pink{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  color: #fff;
  line-height: 100px;
  border-radius: 4px;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.pink{
  background-color: pink;
}
